body{
    background: linear-gradient(rgb(200,25,25),rgb(25,200,25),rgb(25,25,200));
}
h1,h2,p{
    text-align: center;
}
.main{
    text-align: center;
}
a{
    color: red;
    text-decoration:dotted;
}
a:hover{
    color:rgb(116, 197, 2)
}
.one{
    margin: auto;
    width: 450px;
    height: 30px;
    background:linear-gradient(180deg, rgb(120,22,60),rgb(240,0,0),rgb(120,22,60));
    box-shadow: -5px -5px 5px 0px red;
}
.two{
    width: 450px;
    height: 30px;
    background: linear-gradient(180deg, rgb(22,130,60),rgb(0,255,0),rgb(22,130,60));
    margin: auto;
    box-shadow: -5px -5px 5px 0px rgb(23,255,23);
}
.three{
    width: 450px;
    height: 30px;
    background:linear-gradient(180deg, rgba(60, 22, 130, 0.902),rgb(0,0,255),rgb(22,60,130));
    margin: auto;
    box-shadow: -5px -5px 5px 0px blue;
   
}
.abc{
    background-color:rgb(200, 200, 200,0.6);
    width: 200px;
    height: 30px; 
    border-left: 10px double rgba(0, 0, 0, 0.7);
    margin: 10px auto;
    margin-right: 15px;
}
 



